<div class="experience-text" id="WorkExperience">
  <div style="justify-content: space-evenly; margin-top:-10%; position: relative;
	z-index: 5;">
    <span class="underline-effect" style="color: orange;">
      WORK EXPERIENCE
    </span>
  </div>
  <div class="background-text">
    <span>
      WORK EXPERIENCE
    </span>
  </div>
</div>

<div class="experience-section">
  <div>
    <div class="company-name-and-duration">
      <label class="company-name">
        SURYA DIGITECH PRIVATE LIMITED
      </label>
      <label class="duration">
        July 2022 – Present
      </label>
    </div>
    <label class="role">
      Software Development Engineer I
    </label>
    <div class="experience-content" id="WorkExperienceInMobile">
      <ul>
        <li>
          ● Developed a web application using Angular with TypeScript, concurrently creating Android and iOS applications within the same project using Ionic for native development.
        </li>
        <li>
          ● Managed the front-end deployment of the web application and facilitated the upload of Android and iOS apps to Play Store and App Store Connect.
        </li>
        <li>
          ● Worked within an Agile-Scrum environment, actively collaborating with international clients. Gathering and documenting the requirements through elicitation techniques, sorting and prioritizing requirements.
        </li>
        <li>
          ● Assisted project manager in preparing sprint goals and sprint backlog. Involved in the release planning of the project. Involved in sprint planning, daily stand ups, sprint review and retrospective meetings.
        </li>
        <li>
          ● Worked closely with UI/UX designers, translating Figma designs into responsive and intuitive applications.
        </li>
        <li>
          ● Integrated server-side components with back-end engineers to enhance user experience and functionality.
        </li>
        <li>
          ● Conducted thorough code reviews to ensure high-quality code and adherence to best coding practices, providing constructive feedback to peers.
        </li>
      </ul>
    </div>

    <div class="company-name-and-duration">
      <label class="company-name">
        SURYA SOFTWARE PRIVATE LIMITED
      </label>
      <label class="duration">
        March 2022 – June 2022
      </label>
    </div>
    <label class="role">
      Software Development Engineer (Internship)
    </label>
    <div class="experience-content">
      <ul>
        <li>
          ● Developed a web application using Angular and Typescript.
        </li>
        <li>
          ● Simultaneously, created Android and iOS applications within the same project using Ionic for native development.
        </li>
      </ul>
    </div>
  </div>
</div>