<div class="about-me-text">
  <div id="AboutMe" style="justify-content: space-evenly; margin-top:-10%; position: relative;
	z-index: 5;">
    <span class="underline-effect" style="color: orange;">
      ABOUT ME
    </span>
  </div>
  <div class="background-text">
    <span>
      ABOUT ME
    </span>
  </div>
</div>

<div class="profile-section" id="AboutMeMobile">
  <img class="profile-image"
    src="assets/images/profile-image.jpeg"
  />
  <div class="profile-info">
    <label class="Greetings">
      Hi There! I'm Suchith
    </label>
    <label class="job-role">
      Software Development Engineer
    </label>
    <p class="summary">
      Software Development Engineer with over 1.5 years of experience in web development, specializing in Angular
      and TypeScript. Proven expertise in Ionic native development for mobile applications on both Android and iOS
      platforms. Solid foundation in front-end technologies, including HTML, CSS, and JavaScript.
    </p>
    <div class="bio-data">
      <label class="bio-info">Birthday : 31/07/1999</label>
      <label class="bio-info">Phone : +91-9164389511</label>
      <label class="bio-info">Email : suchithm1999@gmail.com</label>
      <label class="bio-info">From : Bengaluru, Karnataka - 560062</label>
      <label class="bio-info">languages : English, Kannada, Hindi</label>
    </div>
    <button class="btn download-button">
      <a href="assets/Suchith_M_Resume.pdf" download>
        Download CV
      </a>
    </button>
  </div>
</div>
