<div class="skills-text" id="Skills">
  <div style="justify-content: space-evenly; margin-top:-10%; position: relative;
	z-index: 5;">
    <span class="underline-effect" style="color: orange;">
      SKILLS
    </span>
  </div>
  <div class="background-text">
    <span>
      SKILLS
    </span>
  </div>
</div>

<!-- Webapp cards section -->
<div class="card-grid">
  <div class="cards relative bg-white flex-col mt-6 shadow-md rounded-xl">
    <div class="p-6 card-inner">
      <ion-icon src="assets/icon/angular-logo.svg"></ion-icon>
      <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        Angular
      </h5>
    </div>
  </div>

  <div class="cards relative bg-white flex-col mt-6 shadow-md rounded-xl">
    <div class="p-6 card-inner">
      <ion-icon src="assets/icon/ionic-icon.svg"></ion-icon>
      <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        Ionic Framework
      </h5>
    </div>
  </div>

  <div class="cards relative bg-white flex-col mt-6 shadow-md rounded-xl">
    <div class="p-6 card-inner">
      <ion-icon src="assets/icon/typescript.svg"></ion-icon>
      <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        TypeScript
      </h5>
    </div>
  </div>

  <div class="cards relative bg-white flex-col mt-6 shadow-md rounded-xl">
    <div class="p-6 card-inner">
      <ion-icon src="assets/icon/javascript-logo.svg"></ion-icon>
      <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        JavaScript
      </h5>
    </div>
  </div>

  <div class="cards relative bg-white flex-col mt-6 shadow-md rounded-xl">
    <div class="p-6 card-inner">
      <ion-icon src="assets/icon/html-5-logo.svg"></ion-icon>
      <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        HTML
      </h5>
    </div>
  </div>

  <div class="cards relative bg-white flex-col mt-6 shadow-md rounded-xl">
    <div class="p-6 card-inner">
      <ion-icon src="assets/icon/css-logo.svg"></ion-icon>
      <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        CSS
      </h5>
    </div>
  </div>


  <div class="cards relative bg-white flex-col mt-6 shadow-md rounded-xl">
    <div class="p-6 card-inner">
      <ion-icon src="assets/icon/vs-code-logo.svg"></ion-icon>
      <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        VS Code
      </h5>
    </div>
  </div>

  <div class="cards relative bg-white flex-col mt-6 shadow-md rounded-xl">
    <div class="p-6 card-inner">
      <ion-icon src="assets/icon/gitlab-logo.svg"></ion-icon>
      <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        GitLab
      </h5>
    </div>
  </div>

  <div class="cards relative bg-white flex-col mt-6 shadow-md rounded-xl">
    <div class="p-6 card-inner">
      <ion-icon src="assets/icon/figma-logo.svg"></ion-icon>
      <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        Figma
      </h5>
    </div>
  </div>

  <div class="cards relative bg-white flex-col mt-6 shadow-md rounded-xl">
    <div class="p-6 card-inner">
      <ion-icon src="assets/icon/android-studio-logo.svg"></ion-icon>
      <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        Android Studios
      </h5>
    </div>
  </div>

  <div class="cards relative bg-white flex-col mt-6 shadow-md rounded-xl">
    <div class="p-6 card-inner">
      <ion-icon src="assets/icon/xcode-logo.svg"></ion-icon>
      <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        XCode
      </h5>
    </div>
  </div>
</div>

<div class="skill-cards-mobile">
  <ion-icon src="assets/icon/angular-logo.svg"></ion-icon>
  <ion-icon src="assets/icon/ionic-icon.svg"></ion-icon>
  <ion-icon src="assets/icon/typescript.svg"></ion-icon>
  <ion-icon src="assets/icon/javascript-logo.svg"></ion-icon>
  <ion-icon src="assets/icon/html-5-logo.svg"></ion-icon>
  <ion-icon src="assets/icon/css-logo.svg"></ion-icon>
  <ion-icon src="assets/icon/vs-code-logo.svg"></ion-icon>
  <ion-icon src="assets/icon/gitlab-logo.svg"></ion-icon>
  <ion-icon src="assets/icon/figma-logo.svg"></ion-icon>
  <ion-icon src="assets/icon/android-studio-logo.svg"></ion-icon>
  <ion-icon src="assets/icon/xcode-logo.svg"></ion-icon>
</div>